# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_airquality
DB_USER=postgres
DB_PASSWORD=soil7525
DB_SCHEMA=sc_padata

# Tabelas do Banco de Dados
TABLE_REALTIME=tb_parealtimedata
TABLE_HOUR=hour
TABLE_DAY=day

# API PurpleAir
PURPLEAIR_API_KEY=43664AA0-305C-11ED-B5AA-42010A800006

# Configurações de Download
MAX_RETRIES=8
SLEEP_SECONDS=1
INTERVAL_DAYS=30

# Timezone (para Acre é UTC-5)
TIMEZONE=America/Rio_Branco

# Configurações de Logging
LOG_LEVEL=INFO
LOG_FILE=/home/willianflores/localhost/airquality-app/backend/logs/daily_update.log


